* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 48px 167px 0 0;
    width: 1108px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.left_part_header {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30.5px;
}

nav>ul>li>a {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}